* {
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
    font-family: 'Lato' sans-serif;
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

nav {
	position: relative;
    background-color: black;
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.171);
}

nav .line {
	height: 2px;
	position: absolute;
	bottom:20%;
	margin: 10px 0 0 0;
	background: #FF6464;
}

nav ul { padding: 0; margin: 0;
	list-style: none; display: flex;
}

nav ul li { margin: 0 40px 0 0;
	transition: all 0.4s ease;
}

nav ul li:last-child { margin-right: 0; }

nav ul li a {
	text-decoration: none;
	color:whitesmoke;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	letter-spacing: .1em;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a img{ width: 20px; height: 20px;
    margin-right: 8px;
}

